MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/codexj?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_DAYS=7
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
