fastapi[standard]
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[argon2]
python-dotenv
pydantic[email]
httpx
beautifulsoup4
lxml
playwright
pytest
pytest-asyncio
pyinstaller
pywebview
