fastapi[standard]
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[argon2]
python-dotenv
pydantic[email]
httpx
pyacoustid
musicbrainzngs
Pillow
pytest
pytest-asyncio
pyinstaller
pywebview
